html {
  font-size: 1rem;
  color: grey;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  border-bottom: 1px solid grey;
}
.header-right {
  justify-content: space-evenly;
  display: flex;
  padding-left: 50%;
  align-items: center;
}
.loginButton {
  padding: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 5rem;
  background: linear-gradient(to right, red, yellow);
  cursor: pointer;
  border-style: hidden;
}
.loginbutton:focus {
  border: none;
}
.upcomingStyle {
  display: flex;
  flex-direction: column;
}

.upcoming {
  font-size: 0.7rem;
  color: grey;
}
.dotStyle {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin-left: 5px;
  background-color: coral;
}

.body {
  padding: 2rem;
}

.liveClassesBox {
  width: 90vw;
  height: 70px;
  border: 1px solid grey;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 3rem;
  margin-top: 2rem;
}

.numberBox {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  margin-bottom: 0.4rem;
}
.firstBoxLine {
  width: 100%;
  height: 0.3rem;
  background-color: grey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.numberStyle {
  margin-bottom: 0.2rem;
}
.ionic-container {
  width: 90vw;
  height: 350px;
  border: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstYoutubeBox {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-right-style: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondYoutubeBox {
  width: 180px;
  height: 180px;
  border: 1px solid grey;
  border-right-style: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdYoutubeBox {
  width: 300px;
  height: 210px;
  border: 1px solid grey;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: grid;
  grid-template-rows: 60% 40%;
}
.fourthYoutubeBox {
  width: 180px;
  height: 180px;
  border: 1px solid grey;
  border-left-style: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fifthYoutubeBox {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-left-style: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtubeBoxText {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.7rem;
  text-align: left;
  margin: 0 20px 10px 20px;
}
@media (max-width: 1199px) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 0.7rem;
  }
}

@media (max-width: 892px) {
  html {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 0.5rem;
  }
}
